@import "tailwindcss";

@source "../components/SupportUsButton.tsx";
@source "../index.ts";

@theme {
    --color-primary: #ffd700;
    --color-background-light: #f9fafb;
    --color-background-dark: #000000;
    --color-surface-dark: #111111;
    --color-card-dark: #1a1a1a;
}

.md-container {
    @media (width >= 768px) {
        flex-direction: row;
    }
}

.md-justify-between {
    @media (width >= 900px) {
        flex-direction: row;
        
    }
}
